.root {
	background-color: #FF69B4;
}

.island {
	margin-top: 3rem;
}

.islandDouble {
	margin-top: 6rem;
}

.islandBottom {
	margin-bottom: 3rem;
}

.paddingBottom {
	padding-bottom: 3rem;
}

.islandDoubleBottom {
	margin-bottom: 6rem;
}

.paddingDoubleBottom {
	padding-bottom: 6rem;
}


.no-space-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}



.border-black {
	border-top: 1px solid black;
}

.border-dark-grey {
	border-top: 1px solid gray;
}

.border-grey {
	border-top: 1px solid lightgrey;
}

.border-white {
	border-top: 1px solid white;
}
