<!-- Bei ng-bind wird der Inhalt erst beim fertiger Kompilierung angezeigt, so werden die Curly Brackets nie angezeigt :) -->

<div class="row islandDouble">
	<div class="text-center">
		<h2 ng-bind="book.title"></h2>
		<h3 ng-bind="book.subtitle"></h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-md-offset-3">

		<h5 class="no-space-bottom">Author</h5>
		<p ng-bind="book.author"></p>

		<h5 class="no-space-bottom">ISBN</h5>
		<p ng-bind="book.isbn"></p>

		<h5 class="no-space-bottom">#Pages</h5>
		<p ng-bind="book.num_pages"></p>

		<h5 class="no-space-bottom">Publisher</h5>
		<!-- mit ng-href wird der Link erst erzeugt, wenn die Expression ausgewertet wird -->
		<a ng-href="{{book.publisher.url}}" target="_blank">{{book.publisher.name}}</a>


		<h5 class="no-space-bottom">Abstract</h5>
		<p ng-bind="book.abstract"></p>

		<hr class="border-grey islandBottom">
	</div>
	<div class="text-center">
		<a href="#/books" class="bm-list-view-btn btn btn-info">Zurück zur Buchliste</a>
	</div>
</div>
